<h2>Edit Comment</h2>

<%= form_for @comment do |f| %>
  <% f.label :content %>
  <% f.text_field :content %>

  <%= f.submit "Leave your comment!" %>

<% end %>

<%#= form_for @comment, method: :delete do |f| %>
  <%# f.submit "Delete!", class: "delete" %>
<%# end %>
