<h2>Edit Comment</h2>

<%= render partial: "form" %>

<%#= form_for @comment, method: :delete do |f| %>
  <%# f.submit "Delete!", class: "delete" %>
<%# end %>

<%= link_to 'Delete comment', post_comment_path(@post, @comment, method: :delete) %>
