<h1>Edit Post</h1>

<%= render partial: "form" %>

<%#= form_for @post, method: :delete do |f| %>
  <%#= f.submit "Delete!", class: "delete" %>
<%# end %>

<%= link_to "Add a comment", new_post_comment_path(@post, Comment.new, method: :get) %>

  <%= link_to "Delete post", post_path(@post), method: :delete %>
