<h2>Posts<% link_to "(+)", new_post_path %></h2>

  <% @posts.each do |post| %>
    <h3><%= post.author %></h3>
    <p><%= post.title %></p>
    <p><%= post. body %></p>
    <%= link_to "(edit)", edit_post_path(post) %></h2>
  <% end %>


<%#= link_to 'Edit post', edit_post_path(@post) %>
