<h2>New Post</h2>

<%= render partial: "form" %>

<%#= Call form_for and pass an identifying object - here the symbol :post - to tell form_for helper what the form is form is for
  The form builder object - f - builds labels and text fields
  submit on the f object creates the submit button
  %>
